*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    
}

// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 60px;
//     background-color: white;
//     width: 100%;
//     display: flex;
//     justify-content: center; 
//     align-items: center;
//     /* Mặc định row, muốn thay đổi thì flex-direction:*/
//     /* justify-content ăn theo main axis, main axis ăn theo chiều flex */
//     /* align-items ăn theo cross axis, cros axis vuông góc với main axis */

//     font-weight: bold;
//     font-size: 20px;
//     border-bottom: 1px solid rgb(153, 149, 149);

//     img{
//         height: 100%;
//         width: 100%;
//     }
// }
// .slides {
//     margin-top: 60px;
//     background-color: aqua;

// }
// footer {
  
//     bottom: 0;
//     left: 0;
//     height: 60px;
//     background-color: white;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     text-align: center;
//     font-weight: bold;
//     border-top: 1px solid rgb(184, 180, 171);
// }
.header {
    position: fixed; /* Đặt header ở vị trí cố định */
    top: 0; /* Đặt header ở đỉnh trang */
    left: 0;
    width: 100%; /* Chiều rộng header chiếm toàn bộ phần width của trang */
    height: 100px;
    background-color: white;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 1000; /* Đặt z-index cao hơn các phần tử khác để header hiển thị trước mọi thứ */

      
  .header__logo img {
    height: 100px; /* Điều chỉnh chiều cao của logo */
  }

  .header__login button {
    background-color: #007bff; /* Màu nền của nút */
    color: #fff; /* Màu chữ của nút */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Bo góc nút */
    transition: background-color 0.3s ease; /* Hiệu ứng màu nền khi hover */
  }
  
  .header__login button:hover {
    background-color: #0056b3; /* Màu nền khi hover vào nút */
  }
}

body {
  margin-top: 100px;

  .d-block{
    padding-top: 10px;
  }
}



  

  